<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TTMCSystem -->
      <package
            uri="http://www.inf.mit.bme.hu/ttmc/TTMCSystem"
            class="TTMCSystem.TTMCSystemPackage"
            genModel="model/TTMCSystem.genmodel"/>
   </extension>

</plugin>
